.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.season_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Winter {
  background-color: aliceblue;
}

.Summer {
  background-color: orange;
}

.season_wrapper.Summer i {
  color: red;
}

.season_wrapper.Winter i {
  color: blue;
}
